// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,800,900");
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700");

$header-text-color: #2C3E50;
$text-color: #2C3E50;
$text-color-ligth: white;
$dark-white: #D7DADB;

$header-bg-color: #1D2326;
$header-hero-text-color: $text-color-ligth;

$font-stack: "Roboto", "Helvetica", "Arial", sans-serif;
$header-font-stack: "Montserrat", "Helvetica", "Arial", sans-serif;

$primary-color-alt: #AF1C1C;
$primary-color: #FC4349;
$link-color-on-white: #d62f3a;
$background-white: white;
$background-dark: #2C3E50;

$code-background: #f5f7f9;
$code-border: #d8dee9;
$code-left-border: #69c;
$code-text: #a7adba;

$header-shadow: 0px 0px 100px 0px rgba(0,0,0,0.3);
$header-text-shadow: 0px 0px 80px black;

html {
  height: 100%;
}

body {
  background: $background-white;
  margin: 0 auto;
  font-family: $font-stack;
  line-height: 1.5;
  color: $text-color;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body > main {
  flex-grow:1; 
}

header{
  background-color: $header-bg-color;
  // background-image: linear-gradient(rgba(44, 62, 80, 0.5), rgba(44, 62, 80, 0.95)), url('/img/bg.jpg');
  background-image: linear-gradient(rgba(44, 62, 80, 0.5), rgba(44, 62, 80, 0.95)), url('/img/bg-compressed.jpg');
  // background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('/img/bg.jpg');
  background-position: 0% 18%;
  padding: 4em;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1{
  color: $header-hero-text-color;
  font-size: 2.5em;
  font-weight: 600;
  text-shadow: $header-text-shadow;
}

header a {
  border: 1px solid $primary-color;
  border-radius: 290486px;
  color: $header-hero-text-color;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  text-shadow: $header-text-shadow;
}

header a:hover {
  background: $primary-color;
  color: white;
}

#logo-container{
  margin: 0px auto;
  width: 80px;
  padding: 20px;
  background-color: $primary-color;
  border-radius: 220px;
  box-shadow: $header-shadow;
  vertical-align: top;
  /*border: 1px solid #BF3F3F;*/
}

#logo{
  fill: $header-hero-text-color;
}

main, footer>div {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}

h1,
h2,
strong {
  color: $header-text-color;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font-stack;
}


h2 {
  margin-top: 1em;
  padding-top: 1em;
}

main>h2:first-of-type{
  padding-top: 0em;
  margin-top: 0em;
}

code,
pre {
  background: $code-background;
  border-bottom: 1px solid $code-border;
  color: $code-text;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid $code-left-border;
}

a {
  color: $link-color-on-white;
}

a:hover {
    color: $primary-color;
}

footer{
  background: $background-dark;
  color: $dark-white;
}
footer a{
  color: $dark-white;
}
footer strong{
  color: $text-color-ligth;
}

/*footer address{
  float: right;
  clear:both;
}*/
